<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="tests">

    <test name="First">
        <classes>
            <class name="tests.UITests.UITests">
                <methods>
                    <include name="loginTest"/>
                    <include name="creatingRepoTest"/>
                    <include name="deleteRepoTest"/>
                    <include name="clearUp"/>
                </methods>
            </class>
            <class name="tests.APITests.GitHubAPItests">
                <methods>
                    <include name="settingUp"/>
                    <include name="userLoginVerify"/>
                    <include name="createNewRepoWithAPI"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>